.nav-container{
    width: 100%;
    background-color: chocolate;
}
.navbar-title {
    color: white;
    padding: 1rem;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
}


@media(min-width: 600px) {
    .navbar-title {
      width: 100%;
    }
  }