.nav-container{
    width: 100%;
    background-color: black;
}
.navbar-title {
    color: white;
    padding: 1.2rem;
    justify-content: center;
    font-size: larger;
    text-align: center;
}

@media(min-width: 600px) {
    .navbar-title {
      // width: 100%;
    }
  }