.container {
  display: flex;
}
.flight-list-container {
  border: 1px solid;
  margin: 1rem;
  padding: 1rem;
  width: 100%;
}
.flight-list-container h3 {
  margin-left: 10px;
}
.flight-list-split-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flight-list-split-container-child{
  flex-direction: column;
}
.flight-list-split-container-seprator{
  height: auto;
  border-right: 1px dashed black;
  margin: 3px 15px 10px 15px;
}
.split-card-full{
  width: 50%;
}

@media only screen and(max-width: 768px) {
  .container{
    display: block;
  }
  .flight-list-container{
    width: auto;
  }
}

@media only screen and(max-width: 550px) {
  .container{
    display: block;
  }
}


