.flight-list-header-strip {
    align-items: center;
    background-color: #f7f5f5;
    padding: 1rem;
    margin-bottom: 10px;
  }
  
  .flight-list-header-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }
  .flight-list-header-strip-main-title {
    font-weight: bold;
    font-size: 16px;
  }
  .flight-list-header-strip-sub-title {
    font-size: 12px;
    color: gray;
  }
  .flight-list-header-strip-return {
    display: flex;
    justify-content: space-evenly;
  }
  .flight-list-header-strip-return-outer{
    display: flex;
    justify-content: flex-start;
  }
  .flight-list-header-icon-return {
    transform: rotate(180deg);
  }